version: 2
defaults: &defaults
  docker:
    - image: cimg/python:3.11.0-browsers
install_dependency: &install_dependency
          name: Installation of build and deployment dependencies.
          command: |
            sudo apt update
            sudo apt install jq
            sudo apt install python3-pip
            sudo pip3 install awscli --upgrade
            sudo pip3 install docker-compose
            sudo curl -o /usr/local/bin/ecs-cli https://s3.amazonaws.com/amazon-ecs-cli/ecs-cli-linux-amd64-latest
            sudo chmod +x /usr/local/bin/ecs-cli            
            
install_deploysuite: &install_deploysuite
          name: Installation of install_deploysuite.
          command: |
            git clone --branch v1.4.15 https://github.com/topcoder-platform/tc-deploy-scripts ../buildscript
            cp ./../buildscript/master_deploy.sh .
            cp ./../buildscript/buildenv.sh .
            cp ./../buildscript/awsconfiguration.sh .
            
jobs:
  # Build & Deploy against development backend
  "build-dev":
    <<: *defaults
    steps:
      # Initialization.
      - checkout
      - setup_remote_docker
      - run: *install_dependency
      - run: *install_deploysuite
      - run:
          name: Executing build.
          command: |
            chmod +x build.sh
            ./build.sh DEV
      - deploy:
          name: Running Masterscript.
          command: |
            ./awsconfiguration.sh DEV
            source awsenvconf 
            ./buildenv.sh -e DEV -b member-processor-es_deployvar
            source buildenvvar
            ./master_deploy.sh -d ECS -e DEV -t latest -s member-processor-es_appvar -i member-processor-es
            
            
  "build-prod":
    <<: *defaults
    steps:
      # Initialization.
      - checkout
      - setup_remote_docker
      - run: *install_dependency
      - run: *install_deploysuite
      - run:
          name: Executing build.
          command: |
             chmod +x build.sh
             ./build.sh PROD
      - deploy:
          name: Running Masterscript.
          command: |
            ./awsconfiguration.sh PROD
            source awsenvconf 
            ./buildenv.sh -e PROD -b member-processor-es-prod_deployvar
            source buildenvvar
            ./master_deploy.sh -d ECS -e PROD -t latest -s member-processor-es-prod_appvar -i member-processor-es       
       
workflows:
  version: 2
  build:
    jobs:
      # Development builds are executed on "develop" branch only.
      - "build-dev":
          context : org-global
          filters:
            branches:
              only: [ "develop", "dev-circleci" ]
      - "build-prod":
          context : org-global
          filters:
            branches:
              only: master
